@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.animate{
    @apply transition duration-500 ease-in-out transform;
}

.ff{
    font-family: 'Montserrat', sans-serif!important;
}
.rf{
    font-family: 'Roboto', sans-serif;
}

.animate:hover{
    @apply -translate-y-1 scale-110;
}


.animate1{
    @apply transition duration-500 ease-in-out transform;
}


.animate1:hover{
    @apply -translate-y-1 scale-105;
}


.buttonactive{
   @apply bg-green-200;
    }


    .c-card img {
        transition: transform 0.3s ease-in-out;
    }
    .c-card:hover img {
        transform: scale(1.05);
    }
    


    .catcat  {
        transition: transform 0.3s ease-in-out;
    }
    .catcat:hover  {
        transform: scale(1.05);
    }



    .react-autosuggest__input{
        width:35rem;
        border-radius: 1rem;
        height: 2.1rem;
        padding-left:0.5rem;
        padding-right:0.5rem;
    }

    .react-autosuggest__suggestions-container{
        position:absolute;
        z-index: 999;
        width:35rem;
    }


 /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }

    .isix{
        margin-top:3.5rem;
    }

.bgcontainer{
    min-height: 85vh!important;
  }


}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .react-autosuggest__input{
        width:13rem;
    }

    .react-autosuggest__suggestions-container{
        width:13rem;
    }

.bgcontainer{
    min-height: 85vh;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }
    .bgcontainer{
    min-height: 71vh!important;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }


}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .react-autosuggest__input{
        width:13rem;
    }
    .react-autosuggest__suggestions-container{
        width:13rem;
    }
}



.bgcontainer{
    min-height: 77vh;
  }

  .bghero{
background: rgb(114,103,121);
background: linear-gradient(90deg, rgba(114,103,121,1) 29%, rgba(18,15,15,1) 95%);
      }

  
      .-z-1 {
        z-index: -1;
      }
    
      .origin-0 {
        transform-origin: 0%;
      }
    
      input:focus ~ label,
      input:not(:placeholder-shown) ~ label,
      textarea:focus ~ label,
      textarea:not(:placeholder-shown) ~ label,
      select:focus ~ label,
      select:not([value='']):valid ~ label {
        /* @apply transform; scale-75; -translate-y-6; */
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
          skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        --tw-scale-x: 0.75;
        --tw-scale-y: 0.75;
        --tw-translate-y: -1.5rem;
      }
    
      input:focus ~ label,
      select:focus ~ label {
        /* @apply text-black; left-0; */
        --tw-text-opacity: 1;
        color: rgba(0, 0, 0, var(--tw-text-opacity));
        left: 0px;
      }